<footer class="site-footer">
    <div class="inner">
        <div class="social-links">
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i><span class="screen-reader-text">Twitter</span></a>
            {% endif %}
            {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook" aria-hidden="true"></i><span class="screen-reader-text">Facebook</span></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" ><i class="fa fa-linkedin" aria-hidden="true"></i><span class="screen-reader-text">LinkedIn</span></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i><span class="screen-reader-text">GitHub</span></a>
            {% endif %}
            {% if site.codepen_username %}
            <a href="https://codepen.io/{{ site.codepen_username }}"><i class="fa fa-codepen" aria-hidden="true"></i><span class="screen-reader-text">Codepen</span></a>
            {% endif %}
            {% if site.dribbble_username %}
            <a href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fa fa-dribbble" aria-hidden="true"></i><span class="screen-reader-text">Dribbble</span></a>
            {% endif %}
            {% if site.medium_username %}
            <a href="https://medium.com/{{ site.medium_username }}"><i class="fa fa-medium" aria-hidden="true"></i><span class="screen-reader-text">Medium</span></a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="https://www.instagram.com/{{ site.instagram_username }}" ><i class="fa fa-instagram" aria-hidden="true"></i><span class="screen-reader-text">Instagram</span></a>
            {% endif %}
            {% if site.pinterest_username %}
            <a href="https://www.pinterest.com/{{ site.pinterest_username }}"><i class="fa fa-pinterest" aria-hidden="true"></i><span class="screen-reader-text">Pinterest</span></a>
            {% endif %}
        </div><!-- .social-links -->
        <div class="copyright">
            &copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/">{{site.title}}</a> <br />BlogBox theme by <a target="_blank" href="https://justgoodthemes.com/">JustGoodThemes</a>
        </div><!-- .copyright -->
        <a href="#page" id="top-link" class="top-link"><i class="fa fa-chevron-up" aria-hidden="true"></i><span class="screen-reader-text">Back to the top</span></a>
    </div><!-- .inner -->
</footer><!-- .site-footer -->
