// Typography
$base-font    : 'PT Serif', Georgia, Times, 'Times New Roman', serif;
$alt-font     : 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font : $alt-font;

// Colors
$accent-color : #27ae60;